// background colors
$yellow-bg: #fff5c2;
$green-bg: #D4F7DA;
$blue-bg: #c2fcff;
$red-bg: #FFC3C3;

// text colors
$yellow-text: #d3b000;
$green-text: #26C842;
$blue-text: #00c9d3;
$red-text: #FF1919;
$black-text: #1a1a1a;

// subsites colors
$blog-color: #c2fcff;
$register-color: #FFC5C2;
$inspo-color: #fff5c2;
$lfcczsk-color: #ff9480;

// fonts
$font-inter: 'Inter', sans-serif;
$font-monospace: 'iA Writer Duospace', monospace;
$font-monospace-bold: 'iA Writer Quattro S Bold', monospace;
// TODO: Check what is faster
$font-blog-text: 'EB Garamond', serif;
$font-blog-headline: 'Abril Fatface', serif;
