/*// Do not forget that the path should be relative to the .css file*/

/*TODO: tff -> woff2 https://www.fontsquirrel.com/tools/webfont-generator (vynechalo č prvy raz)*/

@font-face {
  font-family: 'EB Garamond X';
  src: url('../fonts/EBGaramond3.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Abril Fatface';
  src: url('../fonts/AbrilFatface-Regular.ttf') format('truetype');
  font-display: swap;
}